body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h1 {
    text-align: center;
}

.main {
    display: flex;
}

img {
    height: 50%;
    width: 50%;
}

.content {
    height: 50%;
    width: 50%;
}