body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h1 {
    text-align: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

img {
    height: 50%;
    width: 50%;
}

.content {
    height: 49%;
    width: 49%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    border: 2px solid black;
}

.choice {
    flex: 1 1 0;
    display: flex;
    justify-content: space-around;
}
.score {
    flex: 1 1 0;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.verdict {
    flex: 1 1 0;
    display: flex;
    justify-content: space-around;
}